.products{
    width: 100%;
    border-collapse: collapse;

}
.products tbody td{
    padding: 10px;
}
.wrapper{
    margin-bottom: 40px;
}
.border{

    height: 200px;

    border: 5px solid blue;

    border-style: dotted;
    
    
    /*
         
    dotted - точки

    dashed - полоски прерывающиеся

    solid - сплошная заливка

    double - двойная линия

    groove - заливка с тенью или с теснением
    
    
    */


    border-style: dotted dashed solid double;


    border-color: red;

    border-color: red blue purple salmon;

    border-width: 5px;
     
    border-width: 5px 10px 20px 30px;

    border-right: 10px solid black;

    /*
    
    border-left

    border-bottom

    border-top



    border-botton: 0px;
    
    */


    border-bottom: 0px;


    border-radius: 15px;

    border-radius: 10px 20px 30px 40px;
    /*Начинается все с левого верхнего угла по часовой стрелке*/

    border-radius: 50%;


    -webkit-box-shadow: 6px 6px 13px 0px rgba(50, 250, 50, 0.59);
    -moz-box-shadow:    6px 6px 13px 0px rgba(50, 250, 50, 0.59);
    box-shadow:         6px 6px 13px 0px rgba(50, 250, 50, 0.59);




    /*
    
    смещение по ширине/смещение по высоте/радиус размытия/растяжение цвет

    есть вариант записей сразу двух тиней но одна из них должна быть inset(внутринная)
    
    */
}


.border2{
    height: 200px;
    width: 300px;  /*приоритет 1*/


    max-width: 200px;  /*приоритет 2*/
    min-width: 400px;  /*приоритет 3*/



    font-size: 30px;
    text-align: center;          
        /*По умолчанию черный цвет*/
    border: 5px solid;

    border-radius: 20px/40px;

    text-shadow: 4px 4px 2px rgba(255, 150, 150, 1);


    /*
    
            border-top-left-radius  -  угол     
    
    */



}

.widht-height{
    background: red;

    min-height: 100px;

    max-height: 200px;


    overflow: hidden;

    max-width: 700px;
    min-width: 200px;
}


/*Псевдо елементы*/

.widht-height::first-letter{
    /* Выберит каждую 1 букву каждого абзаца применяется только к блочным елементах*/

    font-size: 30px;
    font-weight: bold;
}

.widht-height::first-line{
    text-decoration: underline;

    /*
    выделит первую строку текста, применяется только к блочным елементах
    */

}
.widht-height::before{
    content: 'ПРИВЕТ';  /*свойства content являеться обязательным,без него before не будет работать*/
}
.widht-height::after{
    content: 'ПОКА';  /*псвевдо елемент before добавит контент в начале элемента до всего чт внутри ,а after после всего*/
}


/*

colot: transparent; Прозрачный цвет

*/