.box{
    width: 50%;
    background: red;
}
.panel{
    width: calc(50% + 30px);
    background: blue;
}
.position{
    background: red;
    width: 600px;
    height: 1000px;
}
.point{
    width: 15px;
    height: 15px;
    background: purple;
    border-radius: 50%;

    
    /*
    Смещение происходит относительно его место положение 
    */
    top: 40px;
    left: 50px;
    position: relative;

    /*
    right
    bottom
    */
}
.point.dark{
    background: black;
   
    position: static;
    position: absolute;
    top: 100px;
    left: 200px;
    /*
    При абсолютном позицианировании элемент смещается относительно родителся, 
    у которого задана position отличныый от static, либо отночительно области видимости 

    Также элемент теряет свою ширину, если она не была задана принудительно.
    Также теряет свое место.
    */
    z-index: 1;
}
.absolute-box{
    position: absolute;
   top: 100px;
   left: 200px; 
   width: 300px;
   color: wheat;
  
   /*
     position: initial;

   initial применяет к свойтсву значение по умолчанию
   */


}
.fixed-box{
    font-size: 40px;
    font-weight: 700;
    position: fixed;
     bottom: 50px;
     right: 50px;



/*   
При позиционировании fixed элемент позиционируется относительно облачти видимости.
Теряет свою ширину, если на не была задана.
теряет свое место.





top left right  bottom - поддерживают px % em auto
*/
}
