/* Работа с текстом   */


.article{
     text-transform: uppercase;

/*
 uppercase - делает все буквы большими
 lowercase - делает все маленькими
 capitalize - каждую первую букву слова делает прописной 
 */

 white-space: nowrap;
 /* nowrap - запрещает перенос строк (исключение br)
    pre - сохраняет все пробелы и переносы 
    pre-wrap - сохраняет пробелы в тексте, делая разрывы там где они необходимы
    pre-line - удаляет все лишние пробелы, за исключение br
 */
 word-break: break-all;

 /*
   break-all -  разрывы допустимы в пределах слов. Перенос слов не применяются.
 */

 text-align: justify;
 /*
    center - центрирует инлайн инлайн-блок элементы 
    left - по умолчанию
    right - перемещает текст в право


    justify - распределяет текст по всей ширине родителя 

    justify-all - дополнение расприделяет и последнюю строку 
 */
text-align-last: justify;

/* действует на последнюю строку */
}